*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 1em;
}

div.repeat:nth-child(6n+1) {
	clear: both;
 }

 /* Portrait tablets and small desktops col­sm*/ 
 @media (min­width: 768px) and (max­width: 991px) {
	div.repeat:nth­child(3n+1){ clear: both} 
}

/* Landscape phones and portrait tablets col­xs*/ 
@media (max­width: 767px) {
div.repeat:nth­child(2n+1){ clear: both}
}
/* Portrait phones and smaller col­xs*/ 
@media (max­width: 480px) {
div.repeat:nth­child(2n+1) { clear: both}
}

